<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>ReceiveMoney</servlet-name>
		<servlet-class>com.receivemoney.ReceiveMoneyServlet</servlet-class>
		<init-param>  
			<param-name>PPAPIUsername</param-name>  
			<param-value>recv_1282498709_biz_api1.gmail.com</param-value>  
		</init-param>
		<init-param>  
			<param-name>PPAPIPassword</param-name>  
			<param-value>1282498715</param-value>  
		</init-param>
		<init-param>  
			<param-name>PPAPISignature</param-name>  
			<param-value>AibiycJQbnn2mhw2XQqcM7Z1yGvBAmdvDciC994i7KKsxcoOfi2gl2re</param-value>  
		</init-param>
		<init-param>  
			<param-name>PPAppID</param-name>  
			<param-value>APP-80W284485P519543T</param-value>  
		</init-param>
		<init-param>  
			<param-name>PPAccountEmail</param-name>  
			<param-value>seller_1282422068_biz@yahoo.com</param-value>  
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>ReceiveMoney</servlet-name>
		<url-pattern>/receivemoney</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<!-- Enforce SSL -->
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
